body {
  font: 13px/1 serif;
  padding: 0 20px;
}

#cont {
  background: #fff url("/archives/asf_logo_simple.png") no-repeat right 1em;
}

/* Beyond a certain point, the window gets too wide. */
@media (min-width: 1740px) {
  #cont {
    width: 1700px;
    margin:0 auto;
  }
}

a, a:visited { color:#2200CC; text-decoration:none; }
a:hover { text-decoration: underline; }

h1 { font: bold 24px serif; padding: 1em 0 0.4em 0; margin:0; }

h5 { font: bold 11px verdana; margin: 0 0 4px 0; }
h5 .num-pages { font-weight:normal; }
h5 .pagination { font-weight: bold; }
h5 .pagination #prev-page { color:#666; font-weight:normal; }
h5 .pagination #next-page { color:#666; font-weight:normal; }
h5 .pagination a { font-weight:normal; text-decoration:underline; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px #777 solid;
}

thead, tfoot { background: #900; border:1px solid #900; }
td, th { padding: 2px 7px; }
th { color: white; font: bold 11px verdana; text-align: left; }
th a, th a:visited { color: white; text-decoration: underline; }

p#lastupdated {
  border-top: 1px #ccc solid;
  padding: 0.2em;
  color: #333333;
  text-align: right;
  margin: 1em;
  font-style: italic;
}

/* List info */
table#listinfo {
  margin: 1em 0;
}

table#listinfo td.left  { background: #ddd; font-weight: bold;
                          text-align: right; padding-right: 1em;
                          width: 20%; }
table#listinfo td.right { background: #eee; text-align: left; }

/* Layout grid for year tables. */
table#grid {
  border: none;
  margin: 1em 0;
}

table#grid td { vertical-align: top; }
table#grid > tbody > tr > td { padding: 0; }
table#grid td.left { width: 51%; }
table#grid td.right { width: 49%; }

table#grid td.left .year-cont { padding-right: 1em; }

/* Year tables, which display mboxes per year. */
table.year tr td.date {
  font-weight: bold;
  text-align: center;
  width: 20%;
  padding: 5px 1em 0 0;
  background: #ddd;
  white-space: nowrap;
}
table.year tr td.links    { background: #eee; width: 70%; }
table.year tr td.msgcount { background: #ddd; width: 10%; text-align: center; }

table.year tr:hover td.date     { background: #eee; }
table.year tr:hover td.links    { background: white; }
table.year tr:hover td.msgcount { background: #eee; }

/* Shim for float clearing purposes. */
#shim { clear: both; }

/* mbox list. */
#boxlist-outer { float: left; width: 155px; }
table#boxlist { width:140px; }
table#boxlist tr       { background: #eee; }
table#boxlist thead tr { background: inherit; }
table#boxlist tr:hover { background: white; }
table#boxlist thead tr:hover { background: inherit; }
table#boxlist tr.active { background: #fff; border-top: 1px solid #777; border-bottom: 1px solid #777; }

table#boxlist .box      { white-space: nowrap; }
table#boxlist .msgcount { text-align: center; }

/* Message list. */
#msglist-outer { margin-left: 160px; }
table#msglist { border-top:none; border-bottom:none; margin-bottom:1em; }
table#msglist thead th.title { text-align: left; white-space: nowrap; }
table#msglist thead th.pages { text-align: right; }
table#msglist thead th.sort  { text-align: right; padding-right: 0.3em; white-space: nowrap; }

#msglist .author, #msglist-ajax-header .author { width: 180px; }
#msglist .date, #msglist-ajax-header .date { width:1em; }
#msglist-ajax-header { border:none; }
#msglist-ajax-header th { padding-bottom:1px; }

table#msglist tr:first-child td { border-top:1px solid #900; }
table#msglist td.author { background: #ddd; }
table#msglist td.subject { background: #eee; white-space: pre-wrap;
                           font: 14px Ubuntu Mono, Courier New, monospace;
                           overflow: hidden;
                           border-top:1px solid #eee;
                         }
table#msglist td.subject a { text-decoration:underline; }
table#msglist td.subject a:focus { outline: 0; }
table#msglist th.date { padding:0 15px 0 11px; }
table#msglist td.date { text-align: right; background: #ddd; font-style: italic; white-space: nowrap;
                        padding-left:8px; }

table#msglist tr:hover td { cursor:pointer; }
table#msglist tr:hover td.author  { background: #eee;  }
table#msglist tr:hover td.subject { background: white; }
table#msglist tr:hover td.date    { background: #eee;  }

table#msglist tr.active td { border-top:1px solid #777; border-bottom:1px solid #777; background: #bfd5f6; }
table#msglist tr.active:hover td { background:#bfd5f6; }

/* Message view */
table#msgview { border-bottom: none; }
table#msgview thead th.title,
table#msgview tfoot th.title { text-align: left; white-space: nowrap; }
table#msgview thead th.nav,
table#msgview tfoot th.nav   { text-align: right; padding-right: 0.3em; }

table#msgview tr td.left{ background: #ddd; width: 180px; text-align: right; font:bold 11px verdana; }
table#msgview tr td.left strong { display:block; padding-right:3px; }
table#msgview tr td.right  { background: #eee; width: auto; font-family: Ubuntu Mono, Courier New, monospace; }

table#msgview tr.raw td.right { font-family: sans-serif; }

table#msgview tr.contents  { border-top: 1px #777 solid; background: white; }
table#msgview tr.contents pre { white-space: pre-wrap; }

table#msgview tr.mime { vertical-align: top; }
table#msgview tr.mime ul { padding-left: 1.5em; margin: 0; }

html #dragbar { display:none; }

/* We set the "ajax" class on the html element when the JS-enabled message view
   is shown. */
html.ajax { height:100%; overflow-y:hidden; }
html.ajax body { height:100%; overflow-y:hidden; }

html.ajax #boxlist-outer { overflow-y: hidden; }
html.ajax #boxlist-inner { overflow-y: auto; }

html.ajax #msglist-outer { overflow-y: hidden; }
html.ajax #msglist-inner { overflow-y: auto; }
html.ajax #msglist-inner thead { display:none; }
html.ajax #msglist-inner tfoot { display:none; }
html.ajax #msglist { border-color:#777; margin:0; }

html.ajax #msgview-inner { display:block; overflow-y: auto; }
html.ajax #msgview-inner thead { display:none; }
html.ajax #msgview-inner tfoot { display:none; }
html.ajax #msgview { margin-bottom:1em; border:1px solid #777; border-top:none; }
html.ajax #msgview #close-link { float:right; font: bold 11px verdana; }
html.ajax #msgview #msg-permalink { font:11px verdana; }
html.ajax #msgview #msg-permalink a { font-weight: bold; }

html.ajax #dragbar { display:block; cursor:row-resize; }
html.ajax #dragbar .mid {
  height:5px;
  background:#fff;
  border-top:1px solid #777;
  border-bottom:1px solid #777;
}
